.home 
{
}

.homeCategory 
{
    margin-left:50px;
    margin-bottom:0;
    color:rgb(37, 37, 37);
}
.allProductCards 
{
    
    background-color:white;
    margin:50px;
    display:flex;
    padding:50px;
   
}
