.home 
{
    right:11px;
    left:265px;
    top:75px;
    bottom:8px;
    position:absolute;
    overflow-y: scroll;
    overflow-x:hidden;
}

.homeCategory 
{
    margin:0 10px;
    color:white;
}
.allProductCards 
{
    padding:10px;
}
