*{
    box-sizing: border-box;
}
.side 
{
    background-color:#212121;
    color:#c4c4c4;
    display:inline-flex;
    flex-direction: column;
    position:fixed;
    top:66px;
    bottom:0;
}

.side ul 
{
    display:inline-flex;
    flex-direction: column;
    margin:0;
    padding:0;
    list-style-type:none;
height:50%;
}

.side ul li 
{
margin:auto 10px auto 10px;
width:235px;
padding:20px 0;
border-bottom:1px solid rgba(0, 0, 0, 0.13);

}

.side button 
{
    padding:10px 6px;
    width:100%;
    font-size:16px;
    color:rgb(14, 13, 13);
    font-weight:500;
    cursor: pointer;
    border:3px solid rgb(20, 20, 20);
}
.side .sideButton
{
    width:90%;
    margin:auto;
}

.side input
{
border-radius:5px;
border:3px solid rgb(66, 62, 59);
padding:15px;
width:100%;
transition:all .2s;
}
.side input:focus
{
    outline:none;
    border:3px solid rgb(105, 105, 105);;
}
.side .input:hover
{
border-bottom:2px solid rgba(0,0,0,0);
}