.mainSlider
{
overflow: hidden;
height:500px;
width:100%;
min-width:478px;
min-height:500px;
}
.slider 
{
    position: relative;
    background-color:rgb(32, 32, 32);
    z-index:0;
 height:100%;
   overflow:hidden;
   min-width:320px;
   min-height:500px;
}
@media(max-width:725px){
  .mainSlider,.slider{
    height:72vh;
    min-height:500px;
  }
}
@media(max-width:550px){
  .mainSlider,.slider{
    height:50vh;
    min-height:500px;
  }
}

.slider img 
{

width:100%;
position:absolute;
right:0;
left:0;
margin:auto;
}
@media (max-width:760px){
  .slider img 
  {
    width:auto;
    height:100%;
  }
}

.slideArrow 
{
    cursor: pointer;
    font-size:40px;
    color:black;
    position:absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;
    top:67px;
    z-index:5;
   height:500px; 
   transition:all .2s;
}
.rightArrow 
{
    right:10px;
  
}

.leftArrow 
{
    left:10px;
}
.slideArrow:hover 
{
    color:rgb(236, 236, 236);
}
.fade-enter 
{
    opacity:0;
}

.fade-enter.fade-enter-active {
/* transition:opacity 00ms;
opacity:1; */
  }
  
  .fade-leave {
    /* opacity: 1; */
  }
  
  .fade-leave.fade-leave-active {
    /* transition: opacity 00ms ease-in;
    opacity: 0.00; */
  }

